PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/feedants?directConnection=true
JWT_SECRET=super-secure-jwt-secret-feedants-2026-key
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:8081
LOG_LEVEL=info
